/* CSS declarations go here */
body, html {
  overflow: hidden;
}
/*textarea, body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
}*/

/*textarea {
  padding: 1rem .5rem .25rem .75rem;
  font-family: Menlo,Monaco,consolas,monospace;
  font-weight: 400;
  line-height: 1.45rem;
  background-color: #fff;
  color: #000;
  outline: medium none;
  height: 100%;
  resize: none;
  -webkit-overflow-scrolling: touch
}*/
