<!--
<x-led color="#ff000">Online</x-led>
-->

<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="x-led">

  <style>
    :host {}

		.led {
			display: inline-block;
			height: .5em;
			width: .5em;
			border-radius: 50%;
			text-align: center;
			position:relative;
			top:-1;
			/*margin-bottom:6px;*/
    }
  </style>

  <template>
		<div class="led" style$="background-color: {{color}}"></div>
		<content></content>
  </template>

</dom-module>

<script>

  Polymer({
    is: 'x-led',
  });

</script>
